<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="row">
                    <div class="col-md-8 col-lg-12">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_row(form._token) }}
                        <form class="form-a contactForm" action="" method="post" role="form">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 mb-3">
                                    <div class="form-group">
                                        {{ form_row(form.title) }}
                                        <div class="validation"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 mb-3">
                                    <div class="form-group">
                                        {{ form_row(form.description) }}
                                        <div class="validation"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 mb-3">
                                    <div class="form-group">
                                        {{ form_row(form.images) }}
                                        <div class="validation"></div>
                                    </div>
                                </div>
                            </div>
                            {% if app.request.attributes.get('_route') == 'gallery_edit' %}
                                {% for image in image_gallery.pictures %}

                                        <div class="gallery-item d-flex align-items-center justify-content-center m-2">
                                            <img src="{{ asset('/uploads/images/galleryItems/' ~ image.name) | imagine_filter('gallery_image') }}" alt="Image">
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center">
                                            <a href="{{ path('gallery_delete_image', {id: image.id}) }}"
                                               data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" title="Supprimer"><i class="fas fa-trash-alt"></i> Supprimer</a>
                                        </div>

                                {% endfor %}

                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-sm btn-success">{{ button_label|default('Enregistrer') }}</button>
                                    <a class="btn btn-sm btn-primary" href="{{ path('gallery_index') }}">Annuler</a>
                                </div>
                            </div>
                        </form>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
