{% extends 'base.html.twig' %}

{% block title %}La marche scolidaire - Galerie Photos{% endblock %}

{% block section %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">Galeries Photos</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Agent Single Star /-->
    <section class="agent-single" id="photos">
        <div class="container">
            {% for gallery in galeries %}
                <div class="row">
                    <div class="front-gallery" id="gallery-{{ loop.index }}">
                        <h3 class="title-single mb-1 mt-3">{{ gallery.title }}</h3>
                        <span class="pl-3 mb-3">{{ gallery.description|raw }}</span>
                        {% for image in gallery.pictures %}
                            <img src="{{asset('/uploads/images/galleryItems/' ~ image.name) }}" alt="" style="height: 252px;" />
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script>
        {% for gallery in galeries %}
            const $gallery{{ loop.index }} = document.getElementById("gallery-{{ loop.index }}");

            const gallery{{ loop.index }} = window.lightGallery($gallery{{ loop.index }}, {
                dynamic: true,
                plugins: [lgZoom, lgVideo, lgThumbnail],
                dynamicEl: [
                    {% for image in gallery.pictures %}
                    {
                        src: "{{asset('/uploads/images/galleryItems/' ~ image.name) }}",
                        thumb: "{{asset('/uploads/images/galleryItems/' ~ image.name) }}",
                        subHtml: ``
                    },
                    {% endfor %}
                ]
            });

            $gallery{{ loop.index }}.addEventListener("click", () => {
                gallery{{ loop.index }}.openGallery(0);
            });
        {% endfor %}
    </script>

{% endblock %}

