{% extends 'base.html.twig' %}

{% block title %}La marche scolidaire - Le Projet{% endblock %}

{% block section %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="title-single-box">
                        <h1 class="title-single">La marche "scolidaire"</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2 col-lg-2">
                            <img src="{{ asset('img/4_directeurs.jpg') }}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-6 col-lg-6 section-md-t3">
                            <p class="content-d color-text-a">
                                ... ou quand quelques directeurs randonneurs mettent leur passion au profit d’un projet solidaire pour les écoles de leur entité…
                            </p>
                            <p class="content-d color-text-a">
                                Parcourir <strong>100 km</strong> en passant par chacune des écoles (24) de l’entité BW3 en <strong>3 jours</strong>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="title-box-d mt-5">
                    <h3 class="title-d">Pourquoi
                        <span class="color-d">scolidaire</span> ?
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 mb-3">
                            <h4 class="title-d">
                                La Charte de l’Entité BW3 est un texte fédérateur adopté par les membres des Pouvoirs
                                Organisateurs et les directions des écoles de l’Entité BW3
                            </h4>
                        </div>
                    </div>
                    <div class="row" style="border-style: solid; border-color: #2eca6a; box-shadow: 5px 10px 18px #888888;">
                        <div class="col-md-6 col-lg-6 section-md-t3 charte color-a">
                            <h4 class="title-d">
                                Extrait :
                            </h4>
                            <span class="mt-2" style="font-style: italic;">                                
                                    Il ne s'agit, en aucune façon, d'appauvrir mais d'apporter un
                                    plus : le travail en commun, la collaboration et la solidarité
                                    permettent l'ouverture de certaines portes.

                                    Par différents moyens et actions, les acteurs des écoles de
                                    l'Entité BW3 souhaitent construire un groupe de
                                    collaborateurs
                                    - où chacun trouve sa place avec ses richesses et différences

                                    - où chacun contribue au maintien et au développement d'un
                                    enseignement de qualité sur le territoire de nos villes et
                                    communes.
                            </span>    
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <img src="{{ asset('img/mains.jpg') }}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-5">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 mb-3">
                            <h4 class="title-d">
                                C’est donc en accord avec les valeurs de notre charte que
                                "la Marche Scolidaire" voit le jour.
                            </h4>
                        </div>
                    </div>
                    <div class="property-summary">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d mt-2">
                                    <h4 class="title-d">Il s’agit d’une activité inédite poursuivant ces objectifs</h4>
                                </div>
                            </div>
                        </div>
                        <div class="summary-list">
                        <ul class="list">
                            <li class="d-flex justify-content-start align-items-baseline">
                                <i class="fa fa-users"></i><strong class="pl-2"> Se retrouver symboliquement autour d'un projet fédérateur.</strong>
                            </li>
                            <li class="d-flex justify-content-start align-items-baseline">
                            <i class="fa fa-link"></i>
                                <strong class="pl-2">Cultiver d’une manière originale le lien et la solidarité
                                    entre toutes les écoles, petites ou grandes, maternelles
                                    et/ou primaires, ordinaires et spécialisées.
                                </strong>
                            </li>
                            <li class="d-flex justify-content-start align-items-baseline">
                            <i class="fa fa-eye"></i>
                                <strong class="pl-2">Offrir une vitrine de l’Entité aux partenaires (parents,
                                    public, …)
                                </strong>
                            </li>
                            <li class="d-flex justify-content-start align-items-baseline">
                            <i class="fas fa-smile-wink"></i>
                                <strong class="pl-2">Promouvoir la convivialité, la solidarité, l’effort.</strong>
                            </li>
                            <li class="d-flex justify-content-start align-items-baseline">
                            <i class="fas fa-walking"></i>
                                <strong class="pl-2">Découvrir la région et les autres par le sport.</strong>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="title-box-d mt-5">
                    <h3 class="title-d">La Marche Scolidaire, c'est...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 mb-3">
                        <h4 class="title-d">
                            Parcourir 100 km en passant par chacune des écoles de l’entité en 3 jours
                        </h4>
                    </div>
                </div>
            <div class="row" style="border-style: solid; border-color: #2eca6a; box-shadow: 5px 10px 18px #888888;">
                <div class="col-md-12 charte color-a">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 d-flex">
                            <img src="{{ asset('img/oxfam.jpg') }}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <span class="mt-2">                                
                                Trois directeurs et le secrétaire de l’entité parcourront l’entièreté des 100
                                km (plus une liaison de 18 km entre Perwez et Gentinnes), d’autres les
                                rejoindront sur le parcours.
                                Les membres des Pouvoirs Organisateurs, les enseignants, les parents et les
                                élèves des écoles concernées seront également invités à soutenir la
                                dynamique du projet.
                            </span>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="title-box-d mt-5">
                    <h3 class="title-d">Qui?</h3>
                </div>
            </div>
            <div class="row" style="border-style: solid; border-color: #2eca6a; box-shadow: 5px 10px 18px #888888;">
                <div class="col-md-12 charte color-a">
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            Depuis 4 ans, ces 4 randonneurs arpentent sentiers et
                                chemins de Belgique et d’ailleurs (Oxfam Peace Walker,
                                SainteLyon, GR Sentier des Abbayes Trappistes, Longest
                                Day Spa, Walk for the Cure Vosges, Chouffe Walk
                                Houffalize, …).
                        </div>
                        <div class="col-md-4 col-lg-4 mb-2">
                            <div class="mb-1">
                                <span style="font-style: italic; font-size: 10px;">(De gauche à droite)</span>
                            </div>
                            <div class="mb-2">
                                <strong style="color: #000;">David Foret</strong> 
                                <br>Directeur de l’école fondamentale Martin V de LLN
                            </div>
                            <div class="mb-2">
                                <strong style="color: #000;">Eric Xhonneux</strong> 
                                <br>Directeur de l’école St-Pie X d’Ottignies
                            </div>
                            <div class="mb-2">
                                <strong style="color: #000;">Geoffroy Charlier</strong> 
                                <br>Directeur de l’Institut ND des Hayeffes de Mont-St-Guibert
                            </div>
                            <div class="mb-2">
                                <strong style="color: #000;">Michel Hauchart</strong> 
                                <br>Secrétaire de l’Entité BW3
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-5 d-flex justify-content-end">
                            <img src="{{ asset('img/4-directeurs-mer.jpg') }}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="title-box-d mt-5">
                    <h3 class="title-d">Une action symbolique</h3>
                </div>
            </div>
            <div class="row" style="border-style: solid; border-color: #2eca6a; box-shadow: 5px 10px 18px #888888;">
                <div class="col-md-12 charte color-a">
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                                Un arbre sera planté dans chaque
                                école à l’arrivée des marcheurs.
                                A cette occasion, une petite
                                animation sera proposée pour les
                                parents, les élèves et les
                                marcheurs.
                        </div>
                        <div class="col-md-3 col-lg-3 mb-2">
                            <img src="{{ asset('img/marche_arbre.jpg') }}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-6 col-lg-6">
                            Les directeurs et les membres
                            des Pouvoirs Organisateurs de
                            l’Entité parcourront tous
                            ensemble la dernière étape du
                            dimanche 3 octobre.
                            <h4 class="title-d mt-4"><i class="far fa-compass"></i> <span class="pl-3">Loupoigne > Sart-Dames-Avelines</span></h4>
                            <h4 class="title-d mt-4"><i class="fas fa-hiking"></i> <span class="pl-3">9.25 Km</span></h4>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

{% endblock %}


